@import 'src/styles/variables';

.announcement-photo {

  .carousel-status {
    display: none;
  }

  justify-content: center;
  //width: 75%;
  padding: 20px;

  &--mobile {
    display: none;

    @media #{$mobile} {
      display: flex;
    }
  }

  &--desktop {
    display: flex;
    padding-top: 100px;
    width: 50%;
    min-height: 900px;
    @media #{$mobile} {
      display: none;
      padding-top: unset;
    }
  }

  &_wrapper {
    @include gradient-background;
    //background: $base-gray;
    box-shadow:  $dark-orange 20px 20px;
    padding-top: 100px;
    width: 100%;
    @media #{$mobile} {
      box-shadow: none;
      padding-top: unset;
    }
  }

  &_image {
    max-height: 650px;
    object-fit: contain;
  }

  &_image-wrapper {
    margin: auto;
  }
}