@import 'src/styles/variables';

.announcement-form{
  padding: 50px 100px;
  min-height: 200px;
  max-width: 750px;
  box-shadow:  $dark-orange 20px 20px, $dark-gray -20px -20px;
  margin:100px auto 400px;

  &_parts-wrapper{
    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
    padding:25px;
  }
}
.alert {
  border: 1px solid red;
}

.alert-text {
  color: red;

  &--disabled {
    display: none;
  }
}